.card {
    margin: 0 auto;
    float: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.level-list-card {
    text-decoration: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

.ml-4 {
    margin-left: 16px;
}

.header {
    margin-right: auto;
    margin-left: auto;
}

.bg-gradient {
    background-image: var(--bs-gradient);
}

.center-img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* From Uiverse.io by Nawsome */
.clear {
  clear: both;
}

.checkBox {
  cursor: pointer;
  width: 3vh;
  height: 3vh;
  border: 0.45vh solid rgba(255, 255, 255, 0);
  border-radius: 0.15vw;
  position: absolute;
  overflow: hidden;
  margin-left: -1.2vh;
  box-shadow: 0px 0px 0px 0.2vh #fff;

}

.checkBox span {
  width: 6.75vh;
  height: 6.75vh;
  background-color: #fff;
  top: -6vh;
  left: -6vh;
  position: absolute;
  transform: rotateZ(45deg);
}

.checkBox input[type=checkbox]:checked + span {
  left: -3vh;
  top: -3vh;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 4vh;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.bg-main {
    background-image: url(../img/main.png);
}

.background {
    position: fixed;
    height: 110dvh;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -100;
    background-size: cover !important;
    background-blend-mode: multiply !important;
    background-position: left top !important;
    background-repeat: no-repeat;
    transition: height 9999999999s;
}

.bd-navbar {
    padding: .75rem 0;
    background-color: transparent;
    box-shadow: 0 .5rem 1rem #00000026, inset 0 -1px #ffffff26;
}

.decorated-input {
    width: 200px;
    height: 3vh;
    margin: auto;
    font-size: 2vh;
    font-weight: bold;
    border: none;
    background-color: red;
}