{% extends "base.html" %}
{% block content %}
{% for demon in demonlist %}
<div class="card mb-3 card_size" style="max-width: 1000px; max-height: 180px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src={{demon['thumbnail']}} class="img-fluid rounded-start"
                 style="max-height: 179px; max-width: 320px" alt="...">
        </div>
        <div class="col-md-8">
            <a class="card-body level-list-card" href="level/{{ demon['level_id'] }}">
                <h5 class="card-title ml-4">#{{ demon['position'] }} - {{ demon['name'] }}</h5>
                <p class="card-text ml-4">Создано: {{ demon['publisher']['name'] }}
                    <br>Проверено: {{ demon['verifier']['name'] }}
                </p>
                <a href="{{ demon['video'] }}" target="_blank">
                    <p class="card-text ml-4"><small class="text-body-secondary">Видео проверки</small></p>
                </a>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}