{% extends "base.html" %}
{% block content %}
<section class="container">
    <div class="row justify-content-md-center">

        <!-- Аватарка -->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="../static/img/users_avatars/{{ user.source_image }}"
                         alt="Profile" class="rounded-circle mb-3" style="max-width: 200px;height: 200px;">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
        </div>
        <!-------------->

        <!--  Информация о пользователе, если user - текущий -->
        {% if current_user == user %}
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3" style="min-height: 302px">
                    <!-- Вкладки -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link {{ my_profile_active }}" {{ my_profile }}
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">
                                Профиль
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                Изменить
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link {{ edit_password_active }}" {{ edit_password }}
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">
                                Смена пароля
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade profile-overview {{ my_profile_show }} {{ my_profile_active }}"
                             id="profile-overview">
                            <div class="flex-column">
                                <h4 class="p-2">Это ваш аккаунт!</h4>
                                <div class="p-2 row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ current_user.email }}</div>
                                </div>
                                <form class="p-2" action="{{ url_for('logout') }}">
                                    <button class="btn btn-primary" type="submit">Выйти из аккаунта</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <!-- Изменение информации профиля -->
                            <form action="/user/{{ user.id }}" method="post" enctype="multipart/form-data" novalidate>
                                {{ form_edit.hidden_tag() }}
                                <div class="row mb-3">
                                    {{ form_edit.source_image.label(class="col-md-4 col-lg-3 col-form-label") }}
                                    <div class="col-md-8 col-lg-9">
                                        <div class="pt-2">
                                            {{ form_edit.source_image( accept=".png,.jpeg", class="form-control file")
                                            }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form_edit.username.label(class="col-md-4 col-lg-3 col-form-label") }}
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_edit.username(class="form-control", placeholder=current_user.username)
                                        }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    {{ form_edit.submit(type="submit", class="btn btn-primary") }}
                                </div>
                            </form>
                            <!-- Конец изменения информации -->
                        </div>
                        <div class="tab-pane fade pt-3 {{ edit_password_show }} {{ edit_password_active }}"
                             id="profile-change-password">
                            <!-- Изменение пароля -->
                            <form action="/user/{{ user.id }}" method="post" novalidate>
                                <div class="row mb-3">
                                    {{ form_edit_password.hidden_tag() }}
                                    <a>{{ error_message }}</a>
                                </div>
                                <div class="row mb-3">
                                    {{ form_edit_password.password_check.label(class="col-md-4 col-lg-3 col-form-label")
                                    }}
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_edit_password.password_check(class="form-control", type="password") }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form_edit_password.password_new.label(class="col-md-4 col-lg-3 col-form-label")
                                    }}
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_edit_password.password_new(class="form-control", type="password") }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form_edit_password.password_again.label(class="col-md-4 col-lg-3 col-form-label")
                                    }}
                                    <div class="col-md-8 col-lg-9">
                                        {{ form_edit_password.password_again(class="form-control", type="password") }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    {{ form_edit_password.submit(type="submit", class="btn btn-primary") }}
                                </div>
                            </form>
                            <!-- Конец изменения пароля -->
                        </div>
                    </div>
                    <!-- Конец вкладок -->
                </div>
            </div>
        </div>
        {% endif %}
        <!----------------------------------------------------->

    </div>

    <!-- Список уровней -->
    <div class="accordion mt-3 text-center" id="accordionLevels">
        {% if levels %}
        <h2>Уровни, в которые играл {{user.username}}:</h2>
        {% else %}
        <h2>{{user.username}} не играл ни в один уровень :(</h2>
        {% endif %}
        {% for level in levels %}
        <div class="accordion-item mt-3 card" style="width: 65%">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{level['id']}}" aria-controls="collapse{{level['id']}}"
                        {% if loop.first %}
                        class="accordion-button d-block text-center"
                        aria-expanded="true"
                        {% else %}
                        class="accordion-button collapsed d-block text-center"
                        aria-expanded="false"
                        {% endif %}>
                    {{level['name']}}
                </button>
            </h2>
            <div id="collapse{{level['id']}}"
                 {% if loop.first %}
                 class="accordion-collapse collapse show"
                 {% else %}
                 class="accordion-collapse collapse"
                 {% endif %}>
                <div class="accordion-body">
                    <a>Прогресс: {{level['avg_progress']}}%</a>
                    <div class="progress" role="progressbar" aria-label="Progress"
                         aria-valuenow="{{level['avg_progress']}}"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: {{level['avg_progress']}}%"></div>
                    </div>
                    <br>

                    <table class="table table-dark table-borderless table-hover text-center mx-auto"
                           style="border-radius: 6px; overflow: hidden; width: 80%;">
                        <tbody>
                        <tr>
                            <th scope="row" width="50%">
                                ID уровня:
                            </th>
                            <td>{{ level['id'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Лучший ран:
                            </th>
                            <td class="text-center">
                                {{ level['best_run']['string'] }} (ран в {{ level['best_run']['percentages'] }}%)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Количество стадий:
                            </th>
                            <td class="text-center">{{ level['stage_count'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Количество ранов:
                            </th>
                            <td class="text-center">{{ level['all_runs'] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Пройденные раны:
                            </th>
                            <td class="text-center">{{ level['completed_runs'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-------------------->

</section>
{% endblock %}