{% extends "base.html" %}

{% block content %}
  <!-- Контейнер для центрирования формы -->
  <div class="d-flex justify-content-center align-items-start min-vh-100">
    <!-- Блок с формой -->
    <div class="card p-4 rounded shadow mt-5" style="width: 100%; max-width: 400px;">
      <form action="{{ url_for('register') }}" method="post">
        {{ form.csrf_token }}
        <!-- Поле для ввода username -->
        <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control") }}
        </div>

        <!-- Поле для ввода email -->
        <div class="mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control") }}
        </div>

        <!-- Поле для ввода пароля -->
        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </div>

        <!--Подтверждение пароля-->
        <div class="mb-3">
          {{ form.confirm_password.label(class="form-label") }}
          {{ form.confirm_password(class="form-control") }}
        </div>

        <!-- Кнопка отправки формы -->
        {{ form.submit(class="btn btn-primary w-100", type="submit") }}
      </form>
    </div>
  </div>
{% endblock %}